body {
    background-color: #f4f6f8;
}
header {
    background-color: #36454f;
    color: #ffffff;
}
h1 {
    color: #ffffff;
}
nav .nav-link {
    color: #dfe6e9 !important;
}
nav .nav-link.active {
    color: #f39c12 !important;
    font-weight: bold;
}
.nav-link:hover {
    text-decoration: none;
    font-size: 1.1em;
    transform-origin: center;

}
main h2 {
    color: #36454f;
    border-bottom: 2px solid #f39c12;
    padding-bottom: 0.3rem;
}
main h3 {
    color: #36454f;
    font-weight: 500;
}
figure img {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.blockquote {
    background-color: #f7f7f7;
    border-left: 4px solid #36454f;
    padding: 1rem;
    font-style: italic;
    color: #36454f;
}
footer {
    background-color: #36454f;
    color: #ffffff;
}
